<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Configuración global de loggers -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Appender de consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern> <!-- Usamos la propiedad LOG_PATTERN aquí -->
        </encoder>
    </appender>

    <!-- Appender de archivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/app.log</file>  <!-- Log file location -->
        <append>true</append> <!-- Si los logs deben ser añadidos al archivo en lugar de sobrescribirlo -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern> <!-- Usamos la propiedad LOG_PATTERN aquí también -->
        </encoder>
    </appender>

    <!-- Logger global (para toda la aplicación) -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.examenparcial.examenparcial" level="DEBUG"/>

    <!-- Raíz del logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>